{% extends 'layout.html' %}
{% block title %} Hasil Jadwal {% endblock %}
{% block content %}
<div class="bg-white p-6 rounded-lg  mb-6">
    <div class="flex flex-col md:flex-row">
        <div class="w-full md:w-1/5 mb-2 md:mb-0">
            <label class="text-gray-700 text-sm font-bold block">API</label>
        </div>
        <div class="w-full md:w-4/5 md:px-5">
            <form method="POST" action="{{ url_for('get_token') }}">
                <div class="flex flex-col mb-5">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="usn">Username</label>
                    <input
                        class="shadow appearance-none bg-gray-100 rounded-full w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="usn"
                        name="usn"
                        type="text"
                        required>
                </div>
                <div class="flex flex-col mb-5">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="usnpass">Password</label>
                    <input
                        class="shadow appearance-none bg-gray-100 rounded-full w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="usnpass"
                        name="usnpass"
                        type="password"
                        placeholder="********"
                        required>
                </div>
                
                <div class="flex justify-end">
                    <button type="submit" class="text-white bg-[#0074B7] px-4 py-2 rounded-full hover:bg-blue-900">Hubungkan</button>
                </div>
            </form>

            {% if access_token %}
            <div class="mt-4">
                <label class="block text-gray-700 text-sm font-bold mb-2">Access Token:</label>
                <input
                    type="text"
                    readonly
                    value="{{ access_token }}"
                    class="shadow appearance-none bg-gray-100 rounded-full w-full py-2 px-3 text-gray-700 leading-tight">
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}