{% extends 'layout.html' %}
{% block title %} Hasil Jadwal {% endblock %}
{% block content %}
<div class="rounded-lg">
        <div class="bg-gradient-to-r from-[#003b73] to-[#0056b3] rounded-t-lg shadow-lg">
            <div class="px-8 py-6">
                <div class="flex items-center justify-center">
                        <h1 class="text-white items-center text-3xl font-bold mb-2">Kirim Data Perkuliahan</h1>    
                </div>
            </div>
        </div>
        <div class="overflow-x-auto ">
            hi
        </div>      
</div>
{% endblock %}