{% extends 'layout.html' %}
{% block title %} Hasil Jadwal {% endblock %}
{% block content %}
<div class="bg-white shadow-xl rounded-2xl overflow-hidden">
       <div class="bg-[#003b73] px-8 py-6">
            <div class="flex items-center justify-between">
                <h2 class="text-xl font-semibold text-white flex items-center">
                    Kirim Jadwal
                </h2>
                
            </div>
        </div>
        <div class="overflow-x-auto bg-white p-6">
            <form method="POST">
                <div class="flex items-center mb-5 space-x-4">
                    <label for="id_generate" class="text-gray-700 text-sm font-bold whitespace-nowrap w-1/4">
                        Pilih ID Generate:
                    </label>
                    <select
                        name="id_generate"
                        id="id_generate"
                        class="shadow appearance-none bg-gray-100 rounded-full w-3/4 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        required
                    >
                        <option value="">-- Pilih --</option>
                        {% for item in opsi_ids %}
                            <option value="{{ item.id_generate }}">{{ item.id_generate }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="flex items-center mb-4 space-x-4">
                    <label for="api_url" class="text-gray-700 text-sm font-bold whitespace-nowrap w-1/4">
                        URL API:
                    </label>
                    <input
                        type="url"
                        name="api_url"
                        id="api_url"
                        class="shadow appearance-none bg-gray-100 rounded-full w-3/4 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        placeholder="https://example.com/api/endpoint"
                        required
                    />
                </div>
                <div class="flex items-center mb-4 space-x-4">
                    <label for="sendaccess_token" class="text-gray-700 text-sm font-bold whitespace-nowrap w-1/4">
                        Access Token:
                    </label>
                    <input
                        type="text"
                        name="sendaccess_token"
                        id="sendaccess_token"
                        class="shadow appearance-none bg-gray-100 rounded-full w-3/4 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        placeholder="Masukkan akses token "
                        required
                    />
                </div>
                <div class="flex justify-end">
                    <button
                        type="submit"
                        class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition"
                    >
                        Kirim
                    </button>
                </div>
            </form>

        </div>      
</div>
{% endblock %}

