{% extends 'layout.html' %}
{% block title %} hasil {% endblock %}
{% block content %}

<div class="bg-white p-6 rounded-lg  mb-6 shadow-lg">
    <div class="flex justify-center mb-6 ">
        <div class="inline-flex items-center justify-center size-20 rounded-full bg-gray-100">
            <i class="fa-solid fa-user text-gray-400 text-4xl"></i>
        </div>
    </div>
    <div class="flex flex-col md:flex-row">
        <div class="w-full md:w-1/5 mb-2 md:mb-0">
            <label class="text-gray-700 text-sm font-bold block">Informasi Akun</label>
        </div>
        <div class="w-full md:w-4/5 md:px-5">
            <div class="flex flex-col mb-5">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="nama">Nama</label>
                <input
                    class="shadow appearance-none bg-gray-100 rounded-full w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="nama"
                    type="text"
                    value="{{ user.nama }}"
                    disabled>
            </div>
            <div class="flex flex-col mb-5">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Username Akun</label>
                <input
                    class="shadow appearance-none bg-gray-100 rounded-full w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="email"
                    type="text"
                    value="{{ user.username }}"
                    disabled>
            </div>
            <div class="flex justify-end">
                <button type="submit" id="btn-edit" class="items-center bg-[#0074B7] text-white px-4 py-2 rounded-full hover:bg-blue-900">Edit</button>
            </div>
        </div>
    </div>
</div>

<div class="bg-white p-6 rounded-lg  mb-6 shadow-lg">
    <div class="flex flex-col md:flex-row">
        <div class="w-full md:w-1/5 mb-2 md:mb-0">
            <label class="text-gray-700 text-sm font-bold block">Pengaturan Password</label>
        </div>
        <div class="w-full md:w-4/5 md:px-5">
            <form method="POST" action="{{ url_for('ubah_password') }}">
                <div class="flex flex-col mb-5">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="passwordlama">Password Lama</label>
                    <input
                        class="shadow appearance-none bg-gray-100 rounded-full w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="passwordlama"
                        name="passwordlama"
                        type="password"
                        placeholder="********"
                        required>
                </div>
                <div class="flex flex-col mb-5">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="passwordbaru">Password Baru</label>
                    <input
                        class="shadow appearance-none bg-gray-100 rounded-full w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="passwordbaru"
                        name="passwordbaru"
                        type="password"
                        placeholder="********"
                        required>
                </div>
                <div class="flex flex-col mb-5">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="passwordbaruconfirm">Konfirmasi Password Baru</label>
                    <input
                        class="shadow appearance-none bg-gray-100 rounded-full w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="passwordbaruconfirm"
                        name="passwordbaruconfirm"
                        type="password"
                        placeholder="********"
                        required>
                </div>
                <div class="flex justify-end">
                    <button type="submit" class="text-white bg-[#0074B7] px-4 py-2 rounded-full hover:bg-blue-900">Simpan Perubahan</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% include "modal/modal_flash.html" %}
{% include "modal/modal_editnm.html" %}

{% endblock %}
