<div id="modalUpdate" class="fixed inset-0 bg-black/50 bg-opacity-50 flex items-center justify-center z-50 hidden">
  <div class="relative p-8 bg-white w-full max-w-md m-auto flex-col flex rounded-lg shadow-lg">
    <form method="POST" id="editForm">
      <input type="hidden" name="id_user" id="edit_id">

      <label>Nama:</label>
      <input type="text" name="nama" id="edit_nama" class="shadow bg-gray-100 rounded-full w-full py-2 px-3 text-gray-700 focus:outline-none">

      <label>Role:</label>
      <select
          id="edit_role"
          name="edit_role"
          class="shadow bg-gray-100 rounded-full w-full py-2 px-3 text-gray-700 focus:outline-none"
          required>
          <option disabled selected value="">-- Pilih Role --</option>
          <option value="admin">Admin</option>
          <option value="user">Client</option>
      </select>

      <label>Status:</label>
      <select name="status" id="edit_status" class="shadow bg-gray-100 rounded-full w-full py-2 px-3 text-gray-700 focus:outline-none">
        <option value="aktif">Aktif</option>
        <option value="nonaktif">Nonaktif</option>
      </select>

      <div class="flex justify-end space-x-2">
        <button type="button" onclick="hideUpdateModalUser()" class="px-4 py-2 bg-gray-300 rounded">Batal</button>
        <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded">Update</button>
      </div>
    </form>
  </div>
</div>
