{% extends 'layout.html' %}
{% block title %}Generate Jadwal{% endblock %}
{% block content %}
    <div class="bg-white p-6 rounded-lg shadow">
        <form action="{{ url_for('generate_jadwal') }}">
            <div class="flex gap-6 item-start">
                <!-- <div class="w-1/2">
                    <label class="flex h-full  appearance-none justify-center rounded-md border border-dashed border-gray-400 bg-white px-3 py-6 text-sm transition hover:border-black focus:border-solid focus:border-blue-600 focus:outline-none focus:ring-1 focus:ring-blue-600 disabled:cursor-not-allowed disabled:bg-gray-200 disabled:opacity-75"
                        tabindex="0">
                        <input id="file-upload" accept=".xlsx, .xls" type="file" class="sr-only" onchange="updateFileName()"/>
                        <span id="file-name" class="flex items-center space-x-2">
                            <i class="fa-solid fa-cloud-arrow-up"></i>
                            <span class="text-sm font-bold text-gray-600">
                                Unggah Berkas
                            </span>
                        </span>
                    </label>
                </div> -->

                <div class="w-1/2">
                    <div class="flex items-center mb-5">
                        <label for="id_generate" class="w-30 block mb-1 font-bold text-gray-600 text-sm">Id Generate</label>
                        <select class="border border-gray-400 shadow-sm p-2 w-70 rounded text-sm"
                            id="id_generate" 
                            name="id_generate">
                            <option value="">Pilih Id Generate dari data yang akan dioptimasi</option>
                            {% for id in generates %}
                                <option value="{{ id.id_generate }}">{{ id.id_generate }}</option>
                            {% else %}
                                <option value="">Tidak ada ID tersedia</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="flex items-center mb-5">
                        <label for="alpha" class="w-30 block mb-1 font-bold text-gray-600 text-sm">alpha</label>
                        <input class="border border-gray-400 shadow-sm p-2 w-70 rounded text-sm"
                            type="text" 
                            id="alpha" 
                            name="alpha"
                            placeholder="masukkan cooling rate" >
                    </div>
                                
                    <div class="flex items-center mb-5">
                        <label for="suhuawal" class="w-30 block mb-1 font-bold text-gray-600 text-sm">suhu awal</label>
                        <input class="border border-gray-400 shadow-sm p-2 w-70 rounded text-sm"
                            type="text" 
                            id="suhuawal" 
                            name="suhuawal" 
                            placeholder="masukkan suhu awal" >
                    </div>
                    
                    <div class="flex items-center mb-5">
                        <label for="maxt" class="w-30 block mb-1 font-bold text-gray-600 text-sm">max iterasi</label>
                        <input class="border border-gray-400 shadow-sm p-2 w-70 rounded text-sm"
                            type="text" 
                            id="maxt" 
                            name="maxt" 
                            placeholder="masukkan maximumiterasi">
                    </div>
                    
                </div>
            </div>
            <div class="flex gap-3 mt-5">
                <button type="reset"  class="block w-30 bg-yellow-500 hover:bg-yellow-300 text-white font-medium text-md py-1 rounded-lg focus:outline-none">Reset</button>
                <button type="submit" class=" block w-30 bg-green-500 hover:bg-green-300 text-white font-medium text-md py-1 rounded-lg focus:outline-none">Submit</button>

            </div>
        </form>
    </div>
{% endblock %}
<!-- {% block script %}  
    <script src="{{ url_for('static', filename='js/uploadfile.js') }}"></script>  
{% endblock %} -->

