<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}My App{% endblock %}</title>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.23.4/ace.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  {% block head %}{% endblock %}
</head>
<body class="bg-slate-100 h-screen overflow-hidden">

  <!-- Sidebar (tetap) -->
  <div class="fixed inset-y-0 left-0 w-64 bg-white shadow-lg z-30 transform transition-transform duration-300 ease-in-out lg:translate-x-0 -translate-x-full" id="sidebar">
    {% include 'sidebar.html' %}
  </div>

  <!-- Overlay untuk mobile -->
  <div id="overlay"
       class="fixed inset-0  bg-gray-500/75 z-20 hidden lg:hidden"
       onclick="closeSidebar()"></div>

  <!-- Wrapper konten (digeser karena sidebar 64) -->
  <div class="lg:ml-64 flex flex-col h-full">

    <!-- Header hanya di mobile -->
    <header class="bg-white shadow p-4 flex items-center justify-between lg:hidden">
      <button id="btn-hamburger" class="text-[#003b73] focus:outline-none">
        <i class="fas fa-bars fa-lg"></i>
      </button>
    </header>

    <!-- Konten utama yang bisa discroll -->
    <main class="flex-1 overflow-auto p-6">
      <div class="overflow-x-auto">
        {% block content %}
        <!-- Tabel atau konten di sini -->
        {% endblock %}
      </div>
    </main>
  </div>


  {% include "modal/modal_flash.html" %}
  {% include 'modal/modal_logout.html' %}



  <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
  <script src="{{ url_for('static', filename='js/logoutModal.js') }}"></script> 
  {% block script %}{% endblock %}
</body>
</html>
