<div class="col-span-1 rounded-r-3xl bg-white shadow-lg border-r border-gray-200 flex flex-col h-full p-3">
    <div class="flex flex-col flex-grow overflow-y-auto">
        <div class="px-5 pt-4 hidden lg:block">
            <div class="text-xs font-bold tracking-wide text-gray-600">Menu</div>
        </div>
        <div class="relative group">                    
            <button onclick="toggleSubmenu()" class="flex items-center justify-center lg:justify-start w-full rounded-md h-12 px-4 font-semibold text-gray-500 hover:text-blue-500 focus:outline-none">
                <i class="fas fa-database mr-2 text-[#003b73]"></i>
                <span class="hidden lg:block text-[#003b73]">Data</span>
                <i class="fas fa-chevron-down ml-1 md:ml-auto hidden lg:block"></i>
            </button>

            <!-- dropdown -->
            <div id="submenu" class="flex-col lg:ml-8 ml-4 mt-2 space-y-1 {% if active_page in ['data_generate','data_dosen', 'data_matakuliah', 'data_perkuliahan','data_ruang','data_rombel'] %}
                    block
                {% else %}
                    hidden
                {% endif %}">
                {% set data_menu = [
                    {'name': 'Data Generate', 'url': '/data/generate', 'id': 'data_generate'},
                    {'name': 'Data Dosen', 'url': '/data/dosen', 'id': 'data_dosen'},
                    {'name': 'Data Matakuliah', 'url': '/data/matakuliah', 'id': 'data_matakuliah'},
                    {'name': 'Data Perkuliahan', 'url': '/data/perkuliahan', 'id': 'data_perkuliahan'},
                    {'name': 'Data Ruang', 'url': '/data/ruang', 'id': 'data_ruang'},
                    {'name': 'Data Rombongan Belajar', 'url': '/data/rombel', 'id': 'data_rombel'},
                    {'name': 'Data Waktu', 'url': '/data/waktu', 'id': 'data_waktu'},
                    {'name': 'Data Prodi', 'url': '/data/prodi', 'id': 'data_prodi'},
                ] %}
                {% for item in data_menu %}
                <a class="block px-4 py-2 text-[#003b73] hover:bg-gray-100 rounded {% if active_page == item.id %} bg-[#003b73] text-white {% else %} text-[#003b73] hover:bg-gray-100 {% endif %}"
                    href="{{item.url}}">
                    {{item.name}}
                </a>
                {% endfor %}
            </div>
        </div> 
        {% set main_menu = [
            {'name': 'Generate Jadwal', 'icon': 'fa-home', 'url': '/dashboard', 'id': 'dashboard'},
            {'name': 'Hasil Optimasi', 'icon': 'fa-calendar-days', 'url': '/jadwal', 'id': 'hasiljadwal'},    
            {'name': 'User', 'icon': 'fa-user', 'url': '/user/datauser', 'id': 'data_user'},        
            {'name': 'Pengaturan', 'icon': 'fa-gear', 'url': '/settings', 'id': 'pengaturan'},
            {'name': 'Endpoint API', 'icon': 'fa-code', 'url': '/daftar-endpoint', 'id': 'daftar_endpoint'},
            {'name': 'Get token', 'icon': 'fa-code', 'url': '/get-token', 'id': 'get_token'},
            {'name': 'Send', 'icon': 'fa-paper-plane', 'url': '/send-data', 'id': 'send_data'},
        ] %}
        {% for item in main_menu %}
            <a href="{{item.url}}" class="flex items-center justify-center lg:justify-start rounded-md h-12 px-4 font-semibold {% if active_page == item.id %} bg-[#003b73] text-white {% else %} text-[#003b73] hover:text-blue-500 {% endif %}">
                <i class="fas {{item.icon}} mr-2"></i>
                <span class="hidden lg:block">{{item.name}}</span>
            </a>
        {% endfor %}       
    </div>
    
    <div class="px-1">
        <a
           class="flex items-center justify-center lg:justify-start rounded-md h-12 px-4 font-semibold text-red-500 hover:text-red-600 cursor-pointer" id="btn-logout">
            <i class="fas fa-sign-out-alt mr-2"></i>
            <span class="hidden lg:block">Logout</span>
        </a>
    </div>
</div>

{% block script %}
{% endblock %}

    